INFURA_KEY=<your private key>

INFURA_PROJECT_ID=<your eth2 login>
INFURA_PROJECT_SECRET=<your eth2 password>
INFURA_EHT2_HOST=eth2-beacon-mainnet.infura.io

DEPOSIT_CONTRACT_ADDRESS=0xC38460A5D75FF74215311706699caD3a07A8eb42
WITHDRAWAL_CREDENTIALS=Ca95f029436cfc13E433937c7f34f60B86ca80C4

FROM_BLOCK=11052984
TO_BLOCK=<block_number_to>
STEP=1024

PG_PORT=5432
PG_HOST=postgres
PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_DATABASE=master
PG_SCHEMA=public
PG_SSLMODE=disable
